<!doctype html>
<!--[if lt IE 7]>      <html ng-app="petcemeteryApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="petcemeteryApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="petcemeteryApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="petcemeteryApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Animal-Paradise</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
    <meta name="fragment" content="!">
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
      
    <meta name="msvalidate.01" content="9EA27DF779F8132954E367307042424F" />
    <meta name="google-site-verification" content="VSARyUTthl4BgUvnlZYT4BtgepmwH1vEO_GTRT46UJ8" />

    <meta property="og:type" content="website" />
    <meta name="og:title" content={{opengraph.title()}}>
    <meta name="og:image:secure_url" content={{opengraph.image()}}>
    <meta name="og:image:url" content={{opengraph.image()}}>
    <meta name="og:description" content={{opengraph.description()}}>

    <link rel="stylesheet" href="app/550e66b9.vendor.css"/>
    <link rel="stylesheet" href="app/c05aa328.app.css"/>
    <link rel="stylesheet" href="assets/icons/flaticon.css">
    <link rel="stylesheet" href="assets/rs-plugin/css/settings.css" media="screen" />
     <!-- <link rel="stylesheet" href="assets/rs-plugin/css/layers.css" media="screen" />
      <link rel="stylesheet" href="assets/rs-plugin/css/navigation.css" media="screen" />-->
    <link rel="stylesheet" href="assets/rs-plugin/css/extralayers.css" media="screen" />
    <link rel="stylesheet" href="assets/intl-tel-input/css/intlTelInput.css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
      
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.<br>
Vous utilisez une version <strong>obsolète</strong> de votre navigateur. Merci <a href="http://browsehappy.com/">de réaliser une mise à jour</a> pour améliorer votre expérience.
<br>
U gebruikt een <strong>verouderde</strong> versie van uw browser. Gelieve  <a href="http://browsehappy.com/">een update van uw browser</a> door te voeren om uw ervaringen te verbeteren.</p>
    <![endif]-->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Add your site or application content here -->
    <div class="view-container"> <!--Used for animations -->
      <div ui-view="" class="view-frame"></div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69054169-1', 'auto');
      ga('send', 'pageview');

    </script>



    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <script src="app/33510a3d.vendor.js"></script>

        <script src="app/033f6e72.app.js"></script>
      
      <!-- workaround for a bug with carousel since upgrade --> 
      <img src="assets/images/c8e2fbd3.animals.png" style="display:none;">
      <img src="assets/images/e011dfe2.dog1.png" style="display:none;">
      <img src="/assets/images/84f31756.sky2.jpg" style="display:none;">
      <img src="assets/images/b8e82a98.greenbg_big.png" style="display:none;">


</body>
</html>
