@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}.flaticon-cross103:before {
	content: "\e000";
}
.flaticon-dog44:before {
	content: "\e001";
}
.flaticon-dog50:before {
	content: "\e002";
}
.flaticon-dog52:before {
	content: "\e003";
}
.flaticon-dog56:before {
	content: "\e004";
}
.flaticon-female128:before {
	content: "\e005";
}
.flaticon-female206:before {
	content: "\e006";
}
.flaticon-fly3:before {
	content: "\e007";
}
.flaticon-male154:before {
	content: "\e008";
}
.flaticon-male2:before {
	content: "\e009";
}
.flaticon-play-button4:before {
	content: "\e00a";
}
.flaticon-play128:before {
	content: "\e00b";
}
.flaticon-print48:before {
	content: "\e00c";
}
.flaticon-woman157:before {
	content: "\e00d";
}
.flaticon-youtube17:before {
	content: "\e00e";
}
.flaticon-youtube18:before {
	content: "\e00f";
}
